*{
    overflow: visible;
}

#application-form{
    min-height: 120px;
    max-height: 90%;
    width: 510px;
    background-color: #1a1a1a;
    position: fixed;
    z-index: 5;
    line-height: 1.7em;
    font-weight: normal;
    color: #efefef;
    resize: vertical;
    overflow: hidden scroll;
    top: 50px;
    left: 400px;
    display: block;
    border: #727272 3px solid;
}

#expand-btn,
.close-btn,
#minimize-btn,
#send-btn{
    border: none;
    margin-right: 20px;
    margin-bottom: 15px;
}

#expand-btn,
.close-btn,
#minimize-btn{
    background: center no-repeat;
    width: 20px;
    height: 20px;
}

.close-btn,
#expand-btn,
#minimize-btn{
    margin-top: 14px;
}

.close-btn{
    background-image: url("../img/closeAppFormBtn.svg");
}

.close-btn:hover{
    background-image: url("../img/closeAppFormBtnHover.svg");
}

.small-text-input{
    width: 80px;
}

.medium-text-input{
    width: 180px;
}

label{
    margin-right: 10px
}

select{
    background: transparent;
    border: none;
    color: #efefef;
}

.big-text-input{
    box-sizing: border-box;
    background: transparent;
    padding: 5px 2%;
    border: #efefef solid 1px;
    color: #efefef;
    resize: none;
    width: 462px;
    margin: auto;
    height: 60px;
}

#send-btn{
    background: transparent;
}

.btn-pusher{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ninety-container{
    width: 90%;
}

.block-container{
    display: flex;
    margin: 0 auto 12px auto;
}

.block-col-left{
    display: block;
    flex: 1;
}

.block-col-right{
    display: block;
    flex: 1;
}

#minimize-btn{
    background-image: url("../img/appFormMinBtn.svg");
}

#minimize-btn:hover{
    background-image: url("../img/appFormMinBtnHvr.svg");
}

#expand-btn{
    background-image: url("../img/expandAppFormBtn.svg");
}

#expand-btn:hover{
    background-image: url("../img/expandAppFormBtnHvr.svg");
}

#minimized-app-form{
    background-color: #1a1a1a;
    width: 145px;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 6;
    border: #727272 3px solid;
    border-radius: 0 0 0 20px;
}

.hidden-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.hidden-radio+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.hidden-radio+label::before {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #efefef;
    border-radius: 50%;
    margin-right: 0.3em;
}

.hidden-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #16a4ab;
}

.hidden-radio:checked+label::before {
    background: center no-repeat url("../img/radio.svg");
}

.hidden-radio:checked:hover+label::before {
    border-color: #16a4ab;
    background: center no-repeat url("../img/radioHvr.svg");
}

.drag-detector{
    cursor: default;
}

p, label{
    user-select: none;
}

.warning{
    margin-left: 8px;
    background: center no-repeat url("../img/warning.svg");
    width: 17px;
    height: 17px;
    cursor: help;
}

.empty-warning{
    margin-left: 8px;
    background: transparent;
    width: 17px;
    height: 17px;
    cursor: default;
}

.room-info{
    background: center no-repeat url("../img/roomInfo.svg");
    width: 15px;
    height: 15px;
    margin: 0 2px;
    min-width: 15px;
}

.room-info:hover{
    background-image: url("../img/roomInfoHvr.svg");
}

.flex-no-stretch{
    display: flex;
    align-items: center;
    max-width: 213px;
    justify-content: space-between;
}

.plus-minus-btn{
    background-color: #16a4ab;
    color: #efefef;
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px
}

.plus-minus-btn:hover{
    background-color: #da6509;
}

#hidden-half {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#hidden-half+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#hidden-half+label::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    margin-left: 8px;
    background: center no-repeat;
}

#hidden-half:not(:disabled):not(:checked)+label::before {
    background-image: url("../img/halfField.svg");
}

#hidden-half:not(:disabled):not(:checked)+label:hover::before {
    background-image: url("../img/halfFieldHvr.svg");
}

#hidden-half:not(:disabled):checked+label::before {
    background-image: url("../img/fullField.svg");
}

#hidden-half:not(:disabled):checked+label:hover::before {
    background-image: url("../img/fullFieldHvr.svg");
}