*{
    overflow: visible;
}

#application-form{
    min-height: 120px;
    max-height: 90%;
    width: 510px;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 5;
    line-height: 1.7em;
    font-weight: normal;
    color: #efefef;
    resize: vertical;
    overflow: hidden scroll;
    top: 50px;
    left: 400px;
    display: block;
}

#expand-btn,
.close-btn,
#minimize-btn,
#send-btn{
    border: none;
    margin-right: 20px;
    margin-bottom: 15px;
}

#expand-btn,
.close-btn,
#minimize-btn{
    background: center no-repeat;
    width: 20px;
    height: 20px;
}

.close-btn,
#expand-btn,
#minimize-btn{
    margin-top: 14px;
}

.close-btn{
    background-image: url("../img/closeAppFormBtn.svg");
}

.close-btn:hover{
    background-image: url("../img/closeAppFormBtnHover.svg");
}

input[type='text']{
    background: transparent;
    border: none;
    border-bottom: #efefef solid 1px;
    color: #efefef;
    padding-left: 5px;
}

.small-text-input{
    width: 80px;
}

.medium-text-input{
    width: 180px;
}

label{
    margin-right: 10px
}

select{
    background: transparent;
    border: none;
    color: #efefef;
}

#picked-rooms-display{
    display: flex;
    flex-wrap: wrap;
}

.room-span{
    background-color: #237570;
    border: none;
    border-radius: 10px;
    padding: 2px 7px;
    margin-right: 8px;
    margin-bottom: 6px;
    position: relative;
    display: flex;
}

.remove-room-btn{
    width: 15px;
    height: 15px;
    border: none;
    margin: auto 2px auto 8px;
    background: center no-repeat url("../img/removeRoomBtn.svg");
}

.remove-room-btn:hover{
    background-image: url("../img/removeRoomBtnHvr.svg");
}

.big-text-input{
    box-sizing: border-box;
    background: transparent;
    padding: 5px 2%;
    border: #efefef solid 1px;
    color: #efefef;
    resize: none;
    width: 462px;
    margin: auto;
    height: 60px;
}

#send-btn{
    background: transparent;
}

.btn-pusher{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.ninety-container{
    width: 90%;
}

.block-container{
    display: flex;
    margin: 0 auto 12px auto;
}

.block-col-left{
    display: block;
    flex: 1;
}

.block-col-right{
    display: block;
    flex: 1;
}

#minimize-btn{
    background-image: url("../img/appFormMinBtn.svg");
}

#minimize-btn:hover{
    background-image: url("../img/appFormMinBtnHvr.svg");
}

#expand-btn{
    background-image: url("../img/expandAppFormBtn.svg");
}

#expand-btn:hover{
    background-image: url("../img/expandAppFormBtnHvr.svg");
}

#minimized-app-form{
    background-color: #1a1a1a;
    width: 105px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 6;
    border-radius: 0 0 0 20px;
}

.hidden-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.hidden-radio+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.hidden-radio+label::before {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #efefef;
    border-radius: 50%;
    margin-right: 0.3em;
}

.hidden-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #16a4ab;
}

.hidden-radio:checked+label::before {
    background: center no-repeat url("../img/radio.svg");
}

.hidden-radio:checked:hover+label::before {
    border-color: #16a4ab;
    background: center no-repeat url("../img/radioHvr.svg");
}

.flex-container{
    display: flex;
    width: fit-content;
    align-items: center;
}

.drag-detector{
    cursor: default;
}

p, label{
    user-select: none;
}

.warning{
    margin-left: 8px;
    background: center no-repeat url("../img/warning.svg");
    width: 17px;
    height: 17px;
    cursor: help;
}

.empty-warning{
    margin-left: 8px;
    background: transparent;
    width: 17px;
    height: 17px;
    cursor: default;
}