*{
    lightTurquoise: #16a4ab;
    darkTurquoise: #237570;
    veryLightGray: #efefef;
    brightOrange: #f46928;
    dullOrange: #da6509;
    veryDarkGray: #1a1a1a;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#calendar-table{
    border-spacing: 0;
    margin-bottom: 10px;
}

.time-move-btn{
    height: 26px;
    width: 17px;
    border: none;
    margin: 0 10px;
}

#prev{
    background: center no-repeat url('../img/prevMonthIcon.png');
}

#prev:hover{
    background-image: url("../img/prevMonthIconHover.png");
}

#next{
    background: center no-repeat url('../img/nextMonthIcon.png');
}

#next:hover{
    background-image: url("../img/nextMonthIconHover.png");
}

#calendar-container{
    text-align: center;
    background-color: transparent;
    width: 440px;
    padding: 0 10px;
    border: white 1px solid;
}

.day {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

#calendar-table{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

.weekday{
    color: #efefef;
    background-color: transparent;
    height: 40px;
}

.transparent-element{
    background-color: transparent;
}

.no-border-element{
    border: none;
}

#month-nav,
#year-nav,
button,
.day{
    cursor: pointer;
}

#calendar-head{
    height: 40px;
}

#year-nav{
    color: #efefef;
}

#month-select-popup{
    z-index: 2;
    position: absolute;
    left: -10px;
    background-color: #1a1a1a;
    border: white 1px solid;
    padding: 5px;
    color: #efefef;
}

#month-nav{
    position: relative;
}

.day{
    z-index: 1;
    text-align: left;
    padding-left: 12px;
    position: relative;
    height: 50px;
}

.non-selected-day{
    color: #efefef;
}

.non-selected-weekday{
    background-color: #16a4ab;
}

.non-selected-weekend{
    background-color: #237570;
}

.selected-day{
    color: #f46928;
    background-color: #efefef;
}

.time-set-button{
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
}

.time-set-button-orange{
    background-image: url("../img/timeSetBtnOrange.png");
}

.time-set-button-white{
    background-image: url("../img/timeSetBtnWhite.png");
}

.time-set-button-orange:hover{
    background-image: url("../img/timeSetBtnOrangeHvr.png");
}

.time-set-button-white:hover{
    background-image: url("../img/timeSetBtnWhiteHvr.png");
}

.time-select-dialogue{
    z-index: 3;
    position: absolute;
}