@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

nav{
    padding-top: 25px;
    position: fixed;
    top: 0;
    left: 10%;
    background-color: #1a1a1a;
    width: 18%;
    text-align: center;
    z-index: 2;
}

nav button{
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #efefef;
    cursor: pointer;
}

nav a{
    color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
}

nav li{
    border-bottom: white 1px solid;
    padding: 15px;
}

body{
    background-color: #c4c4c4;
    overflow-x: hidden;
    overflow-y: scroll;
}

#root{
    height: 100%;
}

header{
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.hover-text{
    cursor: pointer;
    color: #efefef;
    user-select: none;
}

.hover-text:hover{
    color: #16a4ab;
}

#open-log-in-button{
    margin: 0 25px 0 20px;
}

#main-content{
    padding-left: 32%;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 55%;
    line-height: 1.7em;
    z-index: 1;
    height: 100%;
    color: #1a1a1a;
}

.hint{
    z-index: 6;
    position: fixed;
    padding: 5px 8px;
    background-color: #efefef;
    color: #1a1a1a;
    font-size: 12px;
    width: fit-content;
    max-width: 250px;
    line-height: 1.4em;
    text-align: left;
}

.dropdown{
    position: relative;
    max-width: 190px;
}

.open-select-btn{
    width: 20px;
    height: 15px;
    border: none;
    background: center no-repeat url("../img/dropdownBtn.svg");
    margin-left: 8px;
}

.open-select-btn:hover{
    background-image: url("../img/dropdownBtnHvr.svg");
}

.select-popup{
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    background: #1a1a1a;
    border: white 1px solid;
    color: #efefef;
    text-align: center;
    padding: 2px 10px;
    top: auto;
    max-height: 110px;
    overflow-y: scroll;
}

.select-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 165px;
}

.dropdown-header{
    width: 213px;
    display: flex;
    align-items: center;
}

.no-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 190px;
}

.extra-item{
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
    margin-bottom: 3px;
    text-align: left;
}

.info-container{
    background-color: #1a1a1a;
    text-align: left;
    font-family: MontserratMedium, sans-serif;
    padding: 16px 35px;
}

.info-paragraph{
    color: #efefef;
    background-color: transparent;
    padding: 12px 0;
}

.info-container h1{
    color: #efefef;
    text-transform: uppercase;
    padding: 10px 0;
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
}

.flex-container{
    display: flex;
    width: fit-content;
    align-items: center;
}

input[type='text']{
    background: transparent;
    border: none;
    border-bottom: #efefef solid 1px;
    color: #efefef;
    padding-left: 5px;
}

.flex-end{
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}