@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

img{
    user-select: none;
}

#triangle{
    background: center no-repeat url("../img/menuBottom.svg");
    width: 273px;
    height: 46px
}

nav{
    position: absolute;
    top: 0;
    left: 10%;
    text-align: center;
    z-index: 2;
    width: 273px;
}

#sibur-logo-container{
    background: #1a1a1a;
    padding-top: 25px;
}

nav button{
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #efefef;
    cursor: pointer;
}

nav a{
    color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
}

nav li{
    background-color: #1a1a1a;
    border-bottom: white 1px solid;
    padding: 15px;
}

body{
    background-color: #c4c4c4;
    overflow-y: scroll;
}

#root{
    height: 100%;
}

header{
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.hover-text{
    cursor: pointer;
    color: #efefef;
    user-select: none;
    text-decoration: none;
}

.hover-text:hover{
    color: #16a4ab;
}

#open-log-in-button{
    margin: 0 45px 0 20px;
    background: center no-repeat url("../img/logInBtn.svg");
    width: 52px;
    height: 52px;
    border: none;
}

#open-log-in-button:hover{
    background-image: url("../img/logInBtnHvr.svg");
}

#main-content{
    box-sizing: border-box;
    padding-left: 480px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1320px;
    line-height: 1.7em;
    z-index: 1;
    height: 100%;
    color: #1a1a1a;
}

.hint{
    z-index: 6;
    position: fixed;
    padding: 5px 8px;
    background-color: #efefef;
    width: fit-content;
    max-width: 250px;
    text-align: left;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 1.4em;
}

.hint p{
    color: #1a1a1a;
    font-size: 12px;
    line-height: 1.4em;
}

.dropdown{
    position: relative;
    max-width: 190px;
}

.open-select-btn{
    width: 20px;
    height: 15px;
    border: none;
    background: center no-repeat url("../img/dropdownBtn.svg");
    margin-left: 8px;
}

.open-select-btn:hover{
    background-image: url("../img/dropdownBtnHvr.svg");
}

.select-popup{
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    background: #1a1a1a;
    border: white 1px solid;
    color: #efefef;
    text-align: center;
    padding: 2px 10px;
    top: auto;
    max-height: 110px;
    overflow-y: scroll;
}

.select-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 165px;
}

.dropdown-header{
    width: 213px;
    display: flex;
    align-items: center;
}

.no-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 190px;
}

.extra-item{
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
    margin-bottom: 3px;
    text-align: left;
}

.info-container{
    background-color: #1a1a1a;
    text-align: left;
    font-family: MontserratMedium, sans-serif;
    padding: 16px 35px;
    position: relative;
}

.info-container *{
    color: #efefef;
}

.info-paragraph{
    color: #efefef;
    background-color: transparent;
    padding: 12px 0;
    user-select: auto;
}

.info-container h1{
    color: #efefef;
    text-transform: uppercase;
    padding: 10px 0;
    font-family: MontserratBold, sans-serif;
    font-size: 20px;
}

.flex-container{
    display: flex;
    width: fit-content;
    align-items: center;
}

input[type='text'],
input[type='password'],
input[type='email']{
    background: transparent;
    border: none;
    border-bottom: #efefef solid 1px;
    color: #efefef;
    padding-left: 5px;
}

.flex-end{
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.remove-btn{
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: none;
    margin: auto 2px auto 8px;
    background: center no-repeat url("../img/removeRoomBtn.svg");
}

.remove-btn:hover{
    background-image: url("../img/removeRoomBtnHvr.svg");
}

.map-span{
    background-color: #237570;
    border: none;
    border-radius: 10px;
    padding: 2px 7px;
    margin-right: 8px;
    margin-bottom: 6px;
    position: relative;
    display: flex;
    user-select: none;
}

.map-display{
    display: flex;
    flex-wrap: wrap;
}

.btn-pusher{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hidden-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.hidden-radio+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.hidden-radio+label::before {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #efefef;
    border-radius: 50%;
    margin-right: 0.3em;
}

.hidden-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #16a4ab;
}

.hidden-radio:checked+label::before {
    background: center no-repeat url("../img/radio.svg");
}

.hidden-radio:checked:hover+label::before {
    border-color: #16a4ab;
    background: center no-repeat url("../img/radioHvr.svg");
}

.red-star{
    color: red;
}

.flex-100{
    display: flex;
    width: 100%
}

.turquoise-hover{
    text-decoration: none;
    color: #16a4ab;
}

.turquoise-hover:hover{
    color: #da6509;
}