#sign-up-btn{
    margin-left: 8px;
}

#flex-for-sign-up p{
    line-height: 1.7em;
    margin-bottom: 2px;
}

#sign-up-page input{
    display: block;
    line-height: 1.7em;
}

#flex-for-sign-up{
    margin-top: 10px;
}

#waiting-for-sign-up-confirm{
    margin-right: 15px;
}

#w2{
    margin-top: 20px;
}

#sign-up-page .btn-pusher button{
    margin-top: 20px;
}

#sign-up-page .flex-container{
    padding-top: 5px;
}