.time-input{
    background-color: transparent;
    border: none;
    color: #efefef;
    width: 30px;
    margin-left: 10px;
}

#timing-container{
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: left;
    border-top: #efefef 1px solid;
    display: block;
}

.hour-min{
    margin-left: 10px;
}

#checkbox-aligner{
    display: flex;
    padding: 5px 0;
}

#hidden-check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#hidden-check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#hidden-check+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #efefef;
    border-radius: 2px;
    margin-right: 2px;
    background-color: transparent;
}

#hidden-check:not(:disabled)+label:hover::before {
    border-color: #16a4ab;
}

#hidden-check:checked+label::before {
    background: center no-repeat url("../img/tick.svg");
}

#hidden-check:not(:disabled):checked+label:hover::before {
    background-image: url("../img/tickHvr.svg");
}